@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kaushan+Script&family=Permanent+Marker&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Potta+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #112A46;
}

body {
    margin: 0% 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle,#fbfefb ,#efe5dc);
}

img {
    height: 90px;
    width: 90px;
    border-radius: 15px;
}


#header {
    position: sticky;
    top: 0; 
    z-index: 1;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom:#003049 solid 0.26rem;
    /* background-color: #efe5dc; */
    background: radial-gradient(circle,#f5faf5 ,#efe5dc);
    border-radius: 2px;
    font-family: 'Gloria Hallelujah', cursive;
}

#logo-container-header {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#header > .title {
    font-size: 3.0em;
}

#project-name {
    padding-top: 1em;
}

#user_profile {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#user_photo {
    margin: 5px;
}

.user-photo-choose {
    -webkit-filter: drop-shadow(8px 8px 3px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(8px 8px 3px rgba(0, 0, 0, 0.7));
}

#logo {
    margin: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 80%;
    align-items: center;
}

#user-photo-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#user-photo {
    width: 150px;
    height: 150px;
    margin: 20px;
}

#photo-info {
    position: absolute;
    font-size: 6px;
    left: 85px;
    top: 178px;
    width: 80px;
    opacity: 0.7;
    text-align: center;
    border-radius: 5px;
    background-color: #e1e5f2;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Potta One', cursive;
}

#user-info {
    font-size: 1.45em;
    height: 80%;
    width: 70%;
    border-radius: 7.5px;
    border: solid 2.5px #22223b;
    margin-bottom: 35px;
}

.statInfo {
    padding: 0.5em;
}

#user-info > select {
    font-size: 0.6em;
    width: 170px;
    margin: 10px auto 20px;
}

#game-history-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
}

#game-history {
    width: 75%;
    height: 2.8em;
}

#leaderboard-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#leaderboard-info-title {
    font-size: 1.75em;
    margin-bottom: 10px;
}

#leaderboard {
    list-style-type: none;
    height: 90%;
    width: 80%;
    border-radius: 8.0px;
    border: solid 2.7px #22223b;
    overflow:scroll;
}

#leaderboard:hover {
    box-shadow: 3.5px 3.5px 2px rgba(0, 0, 0, 0.5);
}

/* 怎麼讓li全部顯示？ 不會超出外匡 */
#leaderboard > li { 
    font-size: 1.2em;
    padding: 0.55em;
}

#reply-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#reply-select li {
    list-style-type: none;
    --c: #2B2D42;
    color: var(--c);
    font-size: 10px;
    border: 0.2em solid var(--c);
    border-radius: 0.5em;
    width: 9em;
    height: 3.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3.3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

#reply-select li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#reply-select li:hover {
    color: #ffb700;
}

#reply-select li:hover span {
    transform: translateY(0) scale(2);
}

#reply-select li span:nth-child(1) {
    --n: 1;
}

#reply-select li span:nth-child(2) {
    --n: 2;
}

#reply-select li span:nth-child(3) {
    --n: 3;
}

#reply-select li span:nth-child(4) {
    --n: 4;
}


